<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.therman.ancestorquotes">
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:name=".AncestorQuotes"
        android:allowBackup="true"
        android:icon="@mipmap/ic_ancestor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ancestor_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity" />
        <activity android:name=".FavoritesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name="com.therman.ancestorquotes.QuoteAdapter$Provider"
            android:authorities="com.therman.ancestorquotes"
            android:grantUriPermissions="true"
            android:exported="true"/>
    </application>
</manifest>